@model dotnet_mvc.Models.Product

@{
    ViewData["Title"] = Model.Name;
}

<div class="pt-24 mb-20">
    <div class="container xl:max-w-screen-xl lg:max-w-screen-lg px-4 mx-auto">
        <div class="grid md:grid-cols-4 gap-10">
            <div class="grid md:grid-cols-5 gap-10 md:col-span-3">
                <div class="h-full md:col-span-2">
                    <img src="@Model.ImgUrl" alt="product image"
                        class="w-full rounded-tl-lg rounded-tr-lg sticky top-28" height="100" width="100">
                </div>
                <div class="h-full md:col-span-3">
                    <div class="mb-5">
                        <h1 class="text-xl font-bold">@Model.Name</h1>
                        <p class="text-3xl font-medium product-price">@Model.Price</p>
                    </div>
                    <hr class="mb-2" />
                    <div class="whitespace-pre-line" id="productdesc">
                        @Model.Description
                    </div>
                </div>
            </div>
            <div>
                <div class="border border-gray-200 rounded-lg shadow-md p-4 sticky top-24">
                    <h5 class="text-lg font-medium mb-5">Pembelian</h5>
                    <div class="flex gap-2 items-center mb-4">
                        <img src="https://picsum.photos/200" alt="product image" class="w-10" height="100" width="100">
                        <p>@Model.Sku</p>
                    </div>
                    @* <hr class="mb-4" />
                    <div class="flex gap-2 mb-4">
                        <input type="number" class="w-16 border border-gray-200 rounded-lg py-1 px-2" value="0" />
                        <p>Stok: 31</p>
                    </div> *@
                    <hr class="mb-4" />
                    <div class="flex justify-between gap-2 mb-4">
                        <p class="text-gray-500 text-sm">Subtotal</p>
                        <p class="product-price">@Model.Price</p>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="AddToCart" method="post" asp-controller="Cart">
                            <input type="hidden" name="productId" value="@Model.Id" />
                            <button type="submit" class="w-full px-2 py-2 rounded-full bg-yellow-500 hover:bg-yellow-600 font-medium">
                                Masukan ke Keranjang
                            </button>
                        </form>
                    }
                    else
                    {
                        <button disabled class="w-full px-2 py-2 rounded-full bg-gray-400 font-medium">
                            Login untuk Masukan ke Keranjang
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function urlify(text) {
        var urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
            return '<a class="text-blue-500 hover:text-blue-600 hover:underline" href="' + url + '">' + url + '</a>';
        })
    }

    function numberSeperator(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}

    $(document).ready(function () {
        var productDescription = $("#productdesc").text()
        productDescription = urlify(productDescription)
        $("#productdesc").html(productDescription)

        $(".product-price").each(function() {
            var number = $(this).text()
            number = numberSeperator(number)
            $(this).text(`Rp. ${number}`)
        })
    });
</script>